.container_hero_section {
  height: 85vh;
  display: flex;
  align-items: center;
}

.header_text {
  font-size: 3pc;
  width: 50pc;
  line-height: 6pc;
  font-weight: bold;
}

.span_text {
  background-color: var(--primary-bg-color);
  padding: 6px 33px;
  border-radius: 40px 0px 40px 0px;
}
