.container {
  margin-top: 25px;
  margin-left: 21pc;
  margin-right: 21pc;

  color: var(--primary-text-color);
}

@media (width < 40rem) {
  .container {
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 0;
  }
  .intro_content {
    width: fit-content !important;
  }
}

.hr {
  border: none;
  height: 2px;
  background: #dddddd;
}

.intro_content {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: start;
  justify-content: start;
  width: 42pc;
}
