.Transfers_Btn {
  background-color: var(--yello-color);
  padding: 15px;
  font-weight: bolder;
  border-radius: 10pc;
  text-align: center;
  cursor: pointer;
}

.Loan_Btn {
  background-color: var(--primary-bg-color);
  padding: 15px;
  font-weight: bolder;
  border-radius: 10pc;
  text-align: center;
  cursor: pointer;
}

.Closing_Btn {
  background-color: var(--red-color);
  padding: 15px;
  font-weight: bolder;
  border-radius: 10pc;
  text-align: center;
  cursor: pointer;
}

@media (width < 40rem) {
  .Transfers_Btn {
    padding: 10px;
    margin-top: 10px;
  }
  .Loan_Btn {
    padding: 10px;
    margin-top: 10px;
  }
  .Closing_Btn {
    padding: 10px;
    margin-top: 10px;
  }
}
