@import "tailwindcss";

* {
  color: var(--primary-text-color);
}

:root {
  --primary-color: #f3f3f3;
  --primary-bg-color: #50c9c3;
  --primary-text-color: #444;
  --primary-small-bg-color: #9ed1ce;
  --yello-color: #ffcb03;
  --red-color: #ff585f;
}
